@{
    ViewData["Title"] = "Home Page";
}
<style>
    #canvas {
        height: 700px;
        width: 800px;
        border: solid;
    }
</style>
<h1>Froebel 2D</h1>
<canvas id="canvas"></canvas>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/js/Home.js"></script>